In [1]:
fa = open("books.txt", "r")

In [2]:
stra = fa.read(4)

In [3]:
print(stra)

prid

In [4]:
stra = fa.read(4)
print(stra)

e an

In [5]:
fa.tell()

8

In [6]:
fa.seek(0)

0

In [7]:
stra = fa.readline()

In [8]:
print(stra)

pride and prejudice

In [9]:
fa.seek(0)
stra = fa.read()
print(len(stra))
print(stra)

122
pride and prejudice
one thousand and one nights
three mistakes
anna karenina
the great gatsby
to monk who sold his ferrari

In [10]:
stra

'pride and prejudice\none thousand and one nights\nthree mistakes\nanna karenina\nthe great gatsby\nto monk who sold his ferrari'

In [11]:
fa.close()

In [12]:
with open("books.txt", 'r') as fa:
    stra = fa.read()

In [13]:
fa.closed

True

In [14]:
print("bengaluru\newdelhi")

bengaluru
ewdelhi

In [15]:
print(r"bengaluru\newdelhi")

bengaluru\newdelhi

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
strb = r'{}'.format(stra)

In [18]:
strb

'pride and prejudice\none thousand and one nights\nthree mistakes\nanna karenina\nthe great gatsby\nto monk who sold his ferrari'

In [19]:
data = 32
datb = 100

In [21]:
stra = "a = {} b = {}".format(data, datb)

In [22]:
print(stra)

a = 32 b = 100

In [23]:
stra

'a = 32 b = 100'

In [24]:
stra = "a = {0} b = {1} c ={0}".format(data, datb)

In [25]:
stra

'a = 32 b = 100 c =32'

In [26]:
stra = f"a = {data} b = {datb}"

In [27]:
stra

'a = 32 b = 100'

In [28]:
print(strb)

pride and prejudice
one thousand and one nights
three mistakes
anna karenina
the great gatsby
to monk who sold his ferrari

In [29]:
strb = r"{}".format(stra)

In [30]:
stra

'a = 32 b = 100'

In [31]:
with open("books.txt", 'r') as fa:
    stra = fa.read()

In [32]:
strb = r"{}".format(stra)

In [33]:
stra

'pride and prejudice\none thousand and one nights\nthree mistakes\nanna karenina\nthe great gatsby\nto monk who sold his ferrari'

In [34]:
strb

'pride and prejudice\none thousand and one nights\nthree mistakes\nanna karenina\nthe great gatsby\nto monk who sold his ferrari'

In [35]:
print(strb)

pride and prejudice
one thousand and one nights
three mistakes
anna karenina
the great gatsby
to monk who sold his ferrari

In [37]:
print(r'%s' python )

SyntaxError: invalid syntax (<ipython-input-37-bb5fe09f65ed>, line 1)

In [38]:
strc = "hi\nhello"
strd = "hi\\nhello"

In [39]:
print(strc)

hi
hello

In [40]:
print(strd)

hi\nhello

In [41]:
"""[obja, objb, objc]

[objb, obja, objc] """

'[obja, objb, objc]\n\n[objb, obja, objc] '